@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Luckiest+Guy&display=swap');

body {
    display: grid;
    margin: 0;
    height: 100vh;
    padding: 0;
    background: linear-gradient(-40deg, #007bff, #eaa);
}

h1 {
    margin-bottom: 20px;
    font-family: 'Luckiest Guy', sans-serif;
    font-size: 4.5rem;
    text-transform: uppercase;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    max-width: 600px;
    margin: auto;
}

.grid-container img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    box-shadow: 4px 4px 12px #01254d;
}